.container {
  height: 80%;
  background: url(../assets/images/hero.jpg) no-repeat content-box center;
  width: 100%;
}

.hero-text {
  max-width: 50ch;
  padding: 8em 5em;
  letter-spacing: 1.4px;
  z-index: 2;
}
.hero-text h1 {
  font-size: 2.7rem;
  font-weight: 600;
}
.hero-text p {
  margin-top: 1em;
}
@media screen and (max-width: 580px) {
  .hero-text {
    max-width: 90%;
    padding: 8em 1em;
    letter-spacing: 1.4px;
    z-index: 2;
  }
  .hero-text h1 {
    font-size: 1.5em;
  }
  .hero-text p {
    margin-top: 1em;
    font-size: 1em;
  }
}
