.photocard-container img {
  width: 10em;
  object-fit:center;
}
.photo-card {
  width: 10em;
  background: #fff;
  color: var(--clr-text);
  display: flex;
  flex-direction: column;

  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}


.photo-card {
  padding: 0.8em 0.4em;
  margin-top: -.5em;
}
.photo-card p {
  color: #000;
  font-size: 1rem;
}
.photo-card > * + * {
  margin-top: 1em;
}
