/* === SECTION ONE SERVICES === */
a {
  display: inline-block;
}
.section-container {
  width: min(100%, 50em);
  padding-inline: 3em;
  margin-top: 2em;

  margin-inline: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.subhead-center {
  text-align: center;
}
/* .subhead-left {
  text-align: left;
  padding-left: 6em;
} */
.subhead h3 {
  margin-top: 0.3em;
}
.subhead h4 {
  font-weight: 300;
  color: var(--clr-text);
}
/* Media query section container */
@media screen and (max-width: 580px) {
  .section-container {
    padding: 0.5em;
    margin-top: 3em;
  }
}
/*  Container for Cards and Photocards */
.cards-container,
.photo-card-container {
  margin-top: 2em;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-inline: auto;
  max-width: 100%;
}

/* cards media query */
@media screen and (max-width: 768px) {
  .cards-container,
  .photo-card-container {
    justify-content: space-evenly;
    max-width: 100%;
    gap: 0.5em;
  }
}

/* === SECTION TWO RECIPES === */
.section-one,
.section-two {
  padding-top: 2em;
  width: 100vw;
}
.tabsandimages {
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 1em;
  max-width: 50em;
}
.images {
  margin-inline: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.images > * + * {
  margin-left: 2em;
}
.about-images {
  width: 8em;
}

/* Tabs Container  */
.tabs-container {
  width: 40%;
}
.tabs-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e1e1e1;
  border-bottom: 1px solid #000;
}
.tabs-list li {
  padding: 1em 0.6em;
  font-size: 0.8rem;
  font-weight: 600;
}
.tabs-list li:hover {
  color: var(--clr-text);
}
.tabs-list > * + * {
  margin-left: 1em;
  border-left: 1px solid #000;
}
.tabs-block {
  padding: 1em;
  background-color: #e1e1e1;
  margin-inline: auto;
}
/* recipes media query */
@media screen and (max-width: 768px) {
  .tabs-list {
  }
  .images > * {
    /* margin-left: 1em; */
  }
  .images:nth-child(1) {
  }
  .subhead-left {
    text-align: left;
    padding: 0.5em;
  }
  .tabs-container {
    min-width: 19em;
  }
}

/* === SECTION THREE ABOUT US -  CONTACT === */
.food-bg {
  width: 100%;
  background: fixed;
}
.about-us {
  margin-top: -11em;
}
.contact-form {
  background-color: #567b5c;
  padding: 2em 1em;
  margin-top: 2em;
  margin-inline: auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 40em;
}
.contact-form > * + * {
  margin-left: 0.5em;
}
.text-input {
  border: none;
  border-radius: 2px;
  padding: 8px 15px;
}
.btn {
  background-color: #000;
  color: var(--clr-neutral);
  border: none;
  padding: 8px 15px;
}

/* contact form media queries */
@media screen and (max-width: 768px) {
  .contact-form > * {
    margin-top: 1em;
  }
  .about-us {
    margin-top: -8em;
  }
}
.form-quote {
  margin-top: 2em;
  font-size: 0.6rem;
  text-align: center;
}

/* Section - RECIPE BOOK */
.recipes,
.recipe-book {
  background-color: #f5f5f5;
  padding-bottom: 5em;
}
